/*
 * Colour dictionary:
 
 */


/*
 * Page setup styles
 */

::-webkit-input-placeholder {
   color: #EBEBEB;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}


#everything {
	background-image:url(../Images/grassbg.jpg);
	background-size:100% 100%;
   background-repeat:no-repeat;
   padding-top:3%;
   
   
}


#logo
{
    
}

#allBlock {
	width:90%;
	height:85%;
	margin:auto;
	
	
	
	
}

#logoBlock {
	width:40%;

	
	} 

#adder {
	border:#666  2px;
	background-color: #F9F9F9;
	margin:auto;
	
	margin-top:-5px;
	padding:3%;
	border-radius:5px;
	box-shadow:2px 2px 10px #333;
	
	
}

#theAddress {
	width:96%;
	height:1.3em;
	margin-bottom:3%;
	border:1px  #666 solid;
	font-size:2em;
	font-family:Arial, Helvetica, sans-serif;
	color:#999;
	padding-left:3%;
	
}

#addAddress {
	width:48%;
	border:#CCC 1px solid;
	background-color:transparent;
	font-family:Arial, Helvetica, sans-serif;
	color:#CCC;
	font-size:1.3em;
	border-radius:5px;
	padding-top:2%;
	padding-bottom:2%;
	margin-right:2%;
}

#addAddress:hover {
	
	border:#0C3 1px solid;
	background-color:transparent;
	color:#0C3;
	
}

#addAddress:active {
	border:#0C3 1px solid;
	background-color: #98FF95;
	color:#0C3;
	
}

#clear {
	width:48%;
	font-family:Arial, Helvetica, sans-serif;
	border:#CCC 1px solid;
	background-color:transparent;
	color: #CCC;
	margin-left:2%;
	font-size:1.3em;
	border-radius:5px;
	padding-top:2%;
	padding-bottom:2%;
}

#clear:hover {
	border:#FD7785 1px solid;
	background-color:transparent;
	color: #FD7785;
	
}

#clear:active {
	border:#C60005 1px solid;
	background-color: #FD7785;
	color: #C60005;
	
}

#emailAddress {
	width:57%;
	height:1.3em;
	margin-bottom:3%;
	border:1px  #666 solid;
	font-size:2em;
	font-family:Arial, Helvetica, sans-serif;
	color:#999;
	padding-left:3%;
	margin-top:3%;
	margin-right:2%;
}

#email {
	width:34%;
	font-family:Arial, Helvetica, sans-serif;
	border:#CCC 1px solid;
	background-color:transparent;
	color: #CCC;
	margin-left:2%;
	font-size:1.3em;
	border-radius:5px;
	padding-top:3%;
	padding-bottom:2%;
	margin-top:-1%;
	
}

#email:hover {
	border:#B3D5FF 1px solid;
	background-color:transparent;
	color: #B3D5FF;
	
}

#email:active {
	border: #B3D5FF 1px solid;
	background-color: #E1EFFF;
	color: #B3D5FF;
	
}


#page1Table td
{
    
}
#page1Table
{
border:solid 5px black;
margin-left:auto;
margin-right:auto;
width:100%;
}
#knitTable
{
   border:solid 2px black; 
    
}
#columnHiderDiv
{
   border:solid 2px black; 
   width:800px;
   text-align:center;
    
}
body {
	font: 80%/1.45em Arial, Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-align:center;
	background-color:white;
	
}
label
{
font-weight:bold;
}    
div{
text-align:left;
margin:auto;
}
@media print {
	.page-break	{ display: block; page-break-before: always; }
}
th
{
    text-align:left;
    width: auto;
    height:25px;
    
}
#page1Container
{
    text-align:left;
    
}
#tableContainer {
	margin: 0 auto;
	
}

h1 {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0;
}


/*
 * DataTables framework
 */
div.dataTables_wrapper {
	
}

div.dataTables_length {
	float: left;
	
}

div.dataTables_filter {
	float: right;
}

div.dataTables_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

div.dataTables_paginate {
	float: right;
}

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate {
	padding: 6px;
}

/* Self clearing - http://www.webtoolkit.info/css-clearfix.html */
.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .dataTables_wrapper {
	display: block;
}
 
* html .dataTables_wrapper {
	height: 1%;
}


/*
 * Table styles
 */
table.pretty {
	width: 100%;
	clear: both;
	text-align:center;
}

table.pretty td,
table.pretty th {
	padding: 5px;
	border: 1px solid black;
	
}

/* Header cells */
table.pretty thead th {
	text-align: center;
	background: black;
	color: white;
	
}

/* Body cells */
table.pretty tbody th {
	text-align: left;
	background: #91c5d4;
}
	
table.pretty tbody td {
	text-align: center;
	background: #B2B2B2;
	
	
}
		
table.pretty tbody tr.odd td { 
	background: #CCCCCC;
}

/* Footer cells */	
table.pretty tfoot th {
	background: black;
	text-align: center;
}
	
table.pretty tfoot td {
	background: #CCCCFF;
	text-align: center;
	font-weight: bold;
}


/*
 * Pagination
 
a.paginate_button,
a.paginate_active {
	display: inline-block;
	background-color: #608995;
	padding: 2px 6px;
	margin-left: 2px;
	cursor: pointer;
	*cursor: hand;
}

a.paginate_active {
	background-color: transparent;
	border: 1px solid black;
}

a.paginate_button_disabled {
	color: #3d6672;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}*/
/*
div.dataTables_paginate span>a {
	width: 15px;
	text-align: center;
}*/


/*
 * Sorting
 */
table.pretty thead th.sorting_asc {
	background: #383838 url('tableImages/sort_asc.png') no-repeat right center;
	border: 2px solid black;
	font: 90%/1.45em Arial, Verdana, Helvetica, sans-serif;
	color: white;
	font-weight:bold;
	

}

table.pretty thead th.sorting_desc {
	background: #383838 url('tableImages/sort_desc.png') no-repeat right center;
	border: 2px solid black;
	font: 90%/1.45em Arial, Verdana, Helvetica, sans-serif;
	color: white;
	font-weight:bold;
	
}

table.pretty thead th.sorting {
	
	background: #000000 url('tableImages/sort_both.png') no-repeat right center;
	border: 1px solid black;
	font: 90%/1.45em Arial, Verdana, Helvetica, sans-serif;
	color: white;
	font-weight:bold;
	
	
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_disabled_previous {
	background: url('tableImages/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('tableImages/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('tableImages/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
	background: url('tableImages/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
	background: url('tableImages/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('tableImages/forward_enabled_hover.png') no-repeat top right;
}
